@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,500,600,700');

@import "variables";
@import "bootstrap";
@import "~@filipedp/simple_dialog/scss/alerts";
@import "~@filipedp/simple_dialog/scss/confirms";

.debug{
    background-color: purple;
    color: white;
    font-size: 2rem;
}